body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
}

#map {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: url('europe-map.png') no-repeat center center;
    background-size: contain;
}

.country {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    background-size: contain; /* Adjusted to maintain aspect ratio */
    background-position: center;
    background-repeat: no-repeat;
}
